doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Cube - Двери
  body(data-simplebar)
    include src/components/header/header.pug
    main.main
      .wrapper
        include src/blocks/doors/doors.pug
    include src/components/footer/footer.pug
    script(type="module" src="/main.js")