.button {
  color: white;
  padding: 20px 40px 20px 56px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid white;
  font-size: clamp(1rem, 5vw, 1.5rem);

  &:hover {
    opacity: $opacity;
  }

  &:active {
    scale: $scale;
  }
}