.sidebar(data-da=".main, 1170, last")
  .sidebar__body
    nav.sidebar__nav
      ul.sidebar__list
        li.sidebar__list-item
         a.sidebar__link(href="#!", data-tippy-content="Двери")
          span(class="icon-doors")
          span.sidebar__link-text Двери
        li.sidebar__list-item
         a.sidebar__link(href="#!", data-tippy-content="Фурнитура")
          span(class="icon-fittings")
          span.sidebar__link-text Фурнитура
        li.sidebar__list-item
         a.sidebar__link(href="#!", data-tippy-content="Напольные покрытия")
          span(class="icon-coatings")
          span.sidebar__link-text Напольные покрытия
        li.sidebar__list-item
         a.sidebar__link(href="#!", data-tippy-content="Кухни")
          span(class="icon-kitchens")
          span.sidebar__link-text Кухни
        li.sidebar__list-item
         a.sidebar__link(href="#!", data-tippy-content="Мягкая мебель")
          span(class="icon-furniture")
          span.sidebar__link-text Мягкая мебель
        li.sidebar__list-item
         a.sidebar__link(href="#!", data-tippy-content="Окна")
          span(class="icon-windows")
          span.sidebar__link-text Окна
        li.sidebar__list-item
         a.sidebar__link.phone(href="tel:+375292222222 ", data-tippy-content="+375 (29) 222 22 22", data-da=".header__body, 1170, last")
          span(class="icon-phone")