mixin sidebarLink(href, tooltip, iconClass, text)
  li.sidebar__list-item
    a.sidebar__link(href=href, data-tippy-content=tooltip)
      span(class=iconClass)
      span.sidebar__link-text #{text}

.sidebar(data-da=".main, 1170, last")
  .sidebar__body
    nav.sidebar__nav
      ul.sidebar__list
        +sidebarLink("#!", "Двери", "icon-doors", "Двери")
        +sidebarLink("#!", "Фурнитура", "icon-fittings", "Фурнитура")
        +sidebarLink("#!", "Напольные покрытия", "icon-coatings", "Напольные покрытия")
        +sidebarLink("#!", "Кухни", "icon-kitchens", "Кухни")
        +sidebarLink("#!", "Мягкая мебель", "icon-furniture", "Мягкая мебель")
        +sidebarLink("#!", "Окна", "icon-windows", "Окна")
        li.sidebar__list-item
          a.sidebar__link.phone(href="tel:+375292222222", data-tippy-content="+375 (29) 222 22 22", data-da=".header__body, 1170, last")
            span(class="icon-phone")