footer.footer
  .footer__body.container
    .footer__top
      a.footer__logo(href="#!")
        h6.footer__logo-title Cube
        span.footer__logo-text Интерьерные решения
      nav.footer__nav
        ul.footer__list
          li
            a.footer__link(href="#!") Двери
          li
            a.footer__link(href="#!") Фурнитура
          li
            a.footer__link(href="#!") Напольные покрытия
          li
            a.footer__link(href="#!") Кухни
          li
            a.footer__link(href="#!") Мягкая мебель
          li
            a.footer__link(href="#!") Окна
          li
            a.footer__link(href="#!") Блог
          li
            a.footer__link(href="#!") Контакты
      form.footer__search
        button.footer__search-button(type="button", aria-label="Нажмите, чтобы начать поиск", data-tippy-content="Поиск")
          span.icon-search
        input.footer__search-input(type="search", placeholder="Поиск")
    .footer__bottom
      strong.footer__copyright
        span Все материалы сайта cube.by принадлежат ООО "Арт Трейд Про".
        span Копиравание и скачивание без разрешения автора запрещены.
      nav.footer__bottom-nav
        ul.footer__bottom-list
          li
            a.footer__bottom-link(href="#!") Обработка персональных данных
          li
            a.footer__bottom-link(href="#!") Политика конфиденциальности
          li
            a.footer__bottom-link(href="#!") Согласие с рассылкой