@font-face {
  font-display: swap;
  font-family: "Gilroy-Regular";
  src: url("fonts/Gilroy/Gilroy-Regular.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Gilroy-Medium";
  src: url("fonts/Gilroy/Gilroy-Medium.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Gilroy-SemiBold";
  src: url("fonts/Gilroy/Gilroy-SemiBold.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Gilroy-Bold";
  src: url("fonts/Gilroy/Gilroy-Bold.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter-Regular";
  src: url("fonts/Inter/Inter-Regular.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter-Medium";
  src: url("fonts/Inter/Inter-Medium.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto-Medium";
  src: url("fonts/Roboto/Roboto-Medium.woff2");
}